<div class="container text-center align-middle">

  <h1>Stupid coach</h1>

  <p> <%= @question %> - You</p>

  <p> <%= @answer %> - Your coach</p>

  <%= link_to "Ask a new question", ask_path %>

</div>
