<div class="container text-center align-middle">

  <form action="/answer" method="get" data-turbo="false" class="form-control">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn btn-info">
  </form>

</div>
